.task {
    position: relative;
    background: #7A6097;
    padding: 20px;
    border-radius: 15px;
    aspect-ratio: 1;
}

h3 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 15px;
    margin-top: 10px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

h1 {
    font-size: 20px;
    color: white;
}

.taskTagsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.taskTag {
    margin-right: 10px;
    margin-bottom: 10px;
    background: #3F9FF8;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 38px 1px rgba(0,0,0,0.10);
}
